.profile-container {
    position: relative;
    text-align: center;
    color: #fff;
    overflow: hidden;
}

.background-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.background-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.content {
    padding: 20px;
    border-radius: 10px;
    background: rgba(0, 0, 0, 0.7);
    max-width: 500px;
    margin: 50px auto;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.5);
}

.profile-image {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    object-fit: cover;
    border: 4px solid #fff;
    margin-bottom: 20px;
}

.profile-image-placeholder {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    background-color: #ddd;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    margin-bottom: 20px;
}

h1 {
    font-size: 2rem;
    margin-bottom: 10px;
}

.email {
    font-size: 1.2rem;
    color: #f0f0f0;
    margin-bottom: 20px;
}

.welcome-message {
    font-size: 1rem;
    margin: 5px 0;
}
